@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  /* font-family: "poppins", sans-serif; */
  box-sizing: border-box;
  font-family: "Gabarito", serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #080808;
  color: #fff;
  padding: 0;
}
#header {
  width: 100%;
  height: 100vh;
  background-image: URL("../../assets/images/Background-design-desktop.png");
  background-size: cover;
  background-position: center;
}
.back-to-top {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  height: 40px;
  width: 40px;
  border-radius: 70px;
  color: #ff004f;
  display: none;
}
.back-to-top > a {
  color: #ff004f;
}
.back-to-top:hover {
  background-color: #ff004f;
  transform: scale(1.1);
  transition-duration: 0.5s;
}
.back-to-top > a:hover {
  color: white;
}

h1 {
  font-family: "Gabarito", serif;
}

.name {
  font-family: "Gabarito", serif;
}

.container {
  padding: 10px 10%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 9999;
  transition: background-color 0.5s ease-in-out;
}
.logo-text {
  background: -webkit-linear-gradient(#00bcf4, #4536ec);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
}
.logo {
  width: 140px;
  text-align: center;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}
nav ul li a::after {
  content: "";
  width: 0%;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: width 0.5s ease-in-out;
}
nav ul li a:hover::after {
  width: 100%;
}
nav.scrolled {
  background-color: #262626;
}

.header-text {
  margin-top: 20%;
  font-size: 30px;
}

.header-text h1 {
  font-size: 60px;
  margin-top: 20px;
}
.header-text h1 span {
  color: #ff004f;
}

/*------About-------*/
.animate-entry-1 {
  transform: translateY(30%);
  transition: all 1s ease;
  opacity: 0;
}
.animate-entry-1.active-animation {
  transform: translateY(0);
  opacity: 1;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-1 {
  flex-basis: 35%;
}
.about-col-1 img {
  width: 100%;
  margin-top: -100px;
  border-radius: 15px;
}

.about-col-2 {
  flex-basis: 60%;
}
.sub-title {
  font-size: 60px;
  font-weight: 50px;
}
#self_info{
  text-align: justify;
  padding : 10px 0px;
  font-family: "Gabarito", serif;
  letter-spacing: 0.5px;
  line-height: 1.3rem;
  word-spacing: 1.5px;
  font-size: 18px;
}
.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}
.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  cursor: pointer;
  font-family: "Gabarito", serif;
  letter-spacing: 0.5px;
  word-spacing: 2.5px;
  font-size: 30px;
}
.tab-links::after {
  content: "";
  width: 0%;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.tab-links.active-link::after {
  width: 100%;
}
.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}
.tab-contents ul li span {
  color: #ff004f;
  font-weight: 700;
  font-size: 22px;
  line-height: 2rem;
}
.tab-contents {
  display: none;
}
.tab-contents.active-tab {
  display: block;
}

/* -----------------------------Projects------------------------------- */
#projects {
  padding: 30px 0;
  margin-top: 30px;
}
.projects-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.projects-list div {
  background: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: backround 0.5s, transform 0.5s;
}
.projects-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}
.projects-list div h2 {
  font-size: 30px;
  font-weight: 500px;
  margin-bottom: 15px;
}
.projects-list div a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
  position: relative;
  border-radius: 5px;
}
.projects-list div a::after {
  content: "";
  width: 0%;
  height: 3px;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
.projects-list div a:hover::after {
  width: 100%;
}
.projects-list div:hover {
  background-color: #ff004f;
  transform: translateY(-10px);
}

/* -----------------contact---------- */
#contact {
  margin-top: 60px;
}
.contact-left {
  flex-basis: 35%;
}
.contact-right {
  flex-basis: 60%;
}

.contact-left p {
  margin-top: 30px;
}

.contact-left p i {
  color: #ff004f;
  margin-right: 15px;
  font-size: 25px;
}
.social-icons {
  margin-top: 30px;
}
.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}
.social-icons a:hover {
  color: #ff004f;
  transform: translateY(-5px);
}
.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: white;
  transition: background 0.5s;
  transition: all ease 0.3s;
}
.btn:hover {
  background: #ff004f;
}
.btn.btn2 {
  display: inline-block;
  background: #ff004f;
  border: 3px solid #ff004f;
  
}
.btn2:hover{
  color: #ff004f;
  background-color: white;

}
.btn.btn2:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 2px rgb(138, 135, 135);
}
.btn.btn2:active {
  transform: scale(0.9);
  box-shadow: 1px 2px 15px white;
}

.contact-right form {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  resize: none;
  font-size: 18px;
  border-radius: 6px;
}
form .btn2 {
  padding: 14px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
  transition: all ease 0.3s;
}

.copyright {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #262626;
  font-weight: 300;
  margin-top: 20px;
}
.copyright i {
  color: red;
}
nav .fas {
  display: none;
}

.p-007 {
  text-align: justify;
  margin-top: 5%;
  letter-spacing: 0.2px;
  line-height: 1.3rem;
  word-spacing: -1px;
  font-size: 15px;
}

/* -------------------css for small screen----------------------- */

@media only screen and (max-width: 600px) {
  #header {
    background-image: URL("../../assets/images/Background-design-mobile.png");
  }
  .header-text {
    font-size: 16px;
    margin-top: 100%;
  }

  .header-text h1 {
    font-size: 30px;
  }
  nav .fas {
    display: block;
    font-size: 25px;
  }
  nav ul {
    background: #ff004f;
    position: fixed;
    top: 0;
    right: -200px;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
    height: 100vh;
  }
  nav ul li {
    display: block;
    margin: 25px;
  }
  nav ul .fas {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
  #about {
    padding: 0;
  }
  .sub-title {
    font-size: 40px;
    text-align: center;
  }
  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }
  .about-col-1 {
    margin-bottom: 30px;
  }
  .about-col-2 {
    font-size: 14px;
    overflow: hidden;
  }
  .tab-links {
    font-size: 16px;
  }
  .contact-left,
  .contact-right {
    flex-basis: 100%;
  }
  .copyright {
    font-size: 14px;
  }
  .about-col-1 img {
    translate: 0% 0%;
  }
}
#msg {
  color: #61b752;
  margin-top: -40px;
  display: block;
}
body::-webkit-scrollbar {
  width: 0.5em;
  background-color: rgb(0, 0, 0);
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #262626;
  border-radius: 5px;
}
#thanks{
  font-size: large;
  font-weight: bold;
}
.email{
  text-decoration: none;
  color: #ffff;
}
